<?xml version="1.0" encoding="UTF-8"?>
<!-- https://stackoverflow.com/questions/35651241/configure-logback-using-several-profiles -->
<configuration>
    <!-- https://stackoverflow.com/questions/30571319/spring-boot-logging-pattern -->
    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="dev,local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

</configuration>
